{% extends 'wlbf/base.html' %}

{% load staticfiles %}
{% load wlbf_extras %}
{% block title %}Blog{% endblock %}

{% block body_block %}

<link href="{% static "css/blog.css" %}" rel="stylesheet"> 

   {% if blog_list %}

     <div class="row">

        <div class="col-sm-8 blog-main">
        {% for blog in blog_list %}
          <div class="blog-post">
            <h2 class="blog-post-title">{{ blog.title }}</h2>
            <p class="blog-post-meta">{{ blog.post_time }}</p>
            <div>{{ blog.content|custom_markdown }}</div>
        {% endfor %}
         </div>
      </div>


     <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="blog-sidebar-module blog-sidebar-module-inset">
            <h4>About</h4>
            <p class="blog-post-meta">This is LBF's blog.</p>
            <a href="lbf1353@live.com"> lbf1353@live.com</a><br/>
            <a href="http://github.com/WLBF/">GitHub</a>
          </div>
        </div><!-- /.blog-sidebar -->




    </div>

   {% else %}
            The specified blog {{ blog.title }} does not exist!
   {% endif %}

{% endblock %}
