{% extends 'wlbf/base.html' %}

{% load staticfiles %}

{% block title %}Category{% endblock %}

{% block body_block %}


<link href="{% static "css/blog.css" %}" rel="stylesheet"> 
    <div class="page-header">
    </div>
        {% if category %}
            {% if blogs %}


            <h2 class="sub-header">{{ category.name }}</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Views</th>
                  <th>Update</th>
                </tr>
              </thead>
              <tbody>
               {% for blog in blogs %}
               <tr>
                <td><a href="{% url 'goto' %}?blog_id={{blog.id}}">{{ blog.title }}</a></td>
                <td>({{ blog.views }} views)</td>
                <td class="blog-post-meta">{{ blog.update_time }}</td>
               </tr>
               {% endfor %}
              </tbody>
            </table>
          </div>



            {% else %}
                <strong>No blogs currently in category.</strong>
            {% endif %}
            <a href="/wlbf/category/{{ category.slug }}/add_blog/"><button class="btn btn-primary" type="submit" value="Submit" />Add Blog</button></a>
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}

{% endblock %}
