{% extends 'wlbf/base.html' %}

{% load staticfiles %}

{% block title %}WLBF{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>{{ category_name }}</h1>
    </div>
        {% if category %}
            <h3>UPDATE:</h3>
            {% if blogs %}
            <ul>
                {% for blog in blogs %}
                <li>
                <a href="{% url 'goto' %}?blog_id={{blog.id}}">{{ blog.title }}</a>
               {% if blog.views > 1 %}
               ({{ blog.views }} views)
               {% elif blog.views == 1 %}
               ({{ blog.views }} view)
               {% endif %} 

               {{blog.update_time}}

                </li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No blogs currently in category.</strong>
            {% endif %}
            <a href="/wlbf/category/{{ category.slug }}/add_blog/"><button class="btn btn-primary" type="submit" value="Submit" />Add Blog</button></a>
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}

{% endblock %}
