<!DOCTYPE html>
<html>
    <head>
        <title>WLBF</title>
    </head>

    <body>
        <h1>{{ category_name }}</h1>
        {% if category %}
            {% if blogs %}
            <ul>
                {% for blog in blogs %}
                <li><a href="{% url 'blog' id=blog.id%}">{{ blog.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No blogs currently in category.</strong>
            {% endif %}
            <a href="/wlbf/category/{{ category.name }}/add_blog/">Add a New Blog<a/>
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
    </body>
</html>
