{% extends 'wlbf/base.html' %}

{% load staticfiles %}

{% block title %}WLBF{% endblock %}

{% block body_block %}

    <div class="page-header">
        <h1>WLBF says hello world!</h1>
    </div>

        {% if categories %}
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/wlbf/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}

{% endblock %}
